body {
    color: #f9f9f9;
    background-color: #454d5b;
}

.table > :not(caption) > * > * {
    background-color: #6d85a1;
    color: #d5d3d3;

}

.breadcrumb {
    --bs-breadcrumb-item-active-color: rgb(255 255 255 / 75%);
}

a {
    color: #f8f3f3;
}

.text-muted {
    --bs-text-opacity: 1;
    color: rgb(255 255 255 / 75%) !important;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #141414 !important;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #1c1c1c!important;
}

